<style>
    body {
        font-family: "Quicksand", sans-serif;
    }
</style>
<script>
    function formValid() {
        var format = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
        var validname = /^[A-Za-z]+|(\s)$/;
        var format = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
        var phone_pattern = /^(\(0\d{1,3}\)\d{7})|(0\d{9,10})$/;
        f = document.formAddSupplier
        if (format.test(f.name.value)) {
            alert("Supplier name can't contain special character, please enter again");
            f.name.focus();
            return false;
        }
        // Telephone validation
        if (phone_pattern.test(f.telephone.value) == false) {
            alert("Invalid phone number, please enter again");
            f.telephone.focus();
            return false;
        }
        return true;
    }
</script>

<section class="row">
    <div class="col-lg-2 col-md-3 content-left pr-0">
        {{> navmanage }}
    </div>

    <div class="pt-3 col-lg-10 col-md-9 col-12">
        <h1 class="text-center mb-4">Adding Supplier</h1>
        {{#if error }}
        <div class="alert alert-danger text-center">{{ error }}</div>
        {{/if}}
        <form id="formAddSupplier" name="formAddSupplier" method="POST" action="/manage/supplier/add/store"
            onsubmit="return formValid()">

            <div class="form-group">
                <label class="form-label font-weight-bold" for="Name">Supplier Name</label>
                {{#if name }}
                <input type="text" name="name" id="Name" class="form-control" placeholder="" value="{{ name }}" required>
                {{else}}
                <input type="text" name="name" id="Name" class="form-control" placeholder="" required />
                {{/if}}
            </div>

            <div class="form-group">
                <label class="form-label font-weight-bold" for="Telephone">Telephone</label>
                {{#if telephone }}
                <input type="text" name="telephone" id="Telephone" class="form-control" placeholder=""
                    value="{{ telephone }}" required>
                {{else}}
                <input type="text" name="telephone" id="Telephone" class="form-control" placeholder="" required />
                {{/if}}
            </div>

            <div class="form-group">
                <label for="Email" class="font-weight-bold">Email (*)</label>
                {{#if email }}
                <input type="email" class="form-control" name="email" id="Email" aria-describedby="emailHelp"
                    value="{{ email }}" required>
                {{else}}
                <input type="email" class="form-control" name="email" id="Email" aria-describedby="emailHelp" required>
                {{/if}}
            </div>

            <div class="form-group">
                <label class="form-label font-weight-bold" for="Address">Address</label>
                {{#if address }}
                <input type="text" name="address" id="Address" class="form-control" placeholder=""
                    value="{{ address }}" required>
                {{else}}
                <input type="text" name="address" id="Address" class="form-control" placeholder="" required />
                {{/if}}
            </div>

            <div class="form-group text-center">
                <input type="submit" class="btn btn-info" name="btnAdd" value="Add new" />
                <input type="button" class="btn btn-info" name="btnIgnore" value="Cancel"
                    onclick="window.location='/manage/supplier'" />
            </div>
        </form>
    </div>
</section>