<script>
    function formValid() {
        var format = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
        f = document.formAddproduct
        
        if (f.cat_id.value == 0) {
            alert("Please choose category");
            return false;
        }
        if (f.sup_id.value == 0) {
            alert("Please choose supplier");
            return false;
        }
        if (f.shop_id.value == 0) {
            alert("Please choose shop");
            return false;
        }
        return true;
    }
</script>

<section class="row">
    <div class="col-lg-2 col-md-3 content-left pr-0">
        {{> navmanage }}
    </div>
    <div class="pt-3 col-lg-10 col-md-9 col-12">
        <h1 class="text-center pb-4">Adding Product</h1>
        <form id="formAddproduct" name="formAddproduct" method="POST"
            action="/manage/product/update/{{ product.id }}?_method=PUT" enctype="multipart/form-data"
            onsubmit="return formValid()">

            <div class="form-group">
                <label class="form-label font-weight-bold" for="Name">Product Name</label>
                <input type="text" name="name" id="Name" class="form-control" value="{{ product.name }}" required/>
            </div>

            <div class="form-group">
                <label class="form-label font-weight-bold" for="ChooseCategory">Choose Category</label>
                <div name="slcategory" id="ChooseCategory">
                    <select name='cat_id' class='form-control'>
                        <option value='0'>Please choose category</option>
                        {{#each categories}}
                        {{#ifCond this.id '==' ../product.cat_id}}
                        <option value='{{ this.id }}' selected>{{ this.name }}</option>
                        {{else}}
                        <option value='{{ this.id }}'>{{ this.name }}</option>
                        {{/ifCond}}
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label font-weight-bold" for="ChooseSupplier">Choose Supplier</label>
                <div name="slsupplier" id="ChooseSupplier">
                    <select name='sup_id' class='form-control'>
                        <option value='0'>Please choose supplier</option>
                        {{#each suppliers }}
                        {{#ifCond this.id '==' ../product.sup_id }}
                        <option value='{{ this.id }}' selected>{{ this.name }}</option>
                        {{else}}
                        <option value='{{ this.id }}'>{{ this.name }}</option>
                        {{/ifCond}}
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label font-weight-bold" for="ChooseShop">Choose Shop</label>
                <div name="slshop" id="ChooseShop">
                    <select name='shop_id' class='form-control'>
                        <option value='0'>Please choose shop</option>
                        {{#each shops }}
                        {{#ifCond this.id '==' ../product.shop_id }}
                        <option value='{{ this.id }}' selected>{{ this.name }}</option>
                        {{else}}
                        <option value='{{ this.id }}'>{{ this.name }}</option>
                        {{/ifCond}}
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label font-weight-bold" for="Price">Price</label>
                <input type="number" name="price" id="Price" step="0.01" min="1" class="form-control"
                    value="{{ product.price }}" />
                <input type="hidden" name="old_price" value="{{ product.price }}" required>
            </div>

            {{!-- <div class="form-group">
                <label class="form-label font-weight-bold" for="txtCatDesc">Old Price (*)</label>
                <input type="text" name="old" id="txtCatDesc" class="form-control" placeholder="" />
            </div> --}}

            <div class="form-group">
                <label class="form-label font-weight-bold" for="Small_desc">Small Description</label>
                <input type="text" name="small_desc" id="Small_desc" class="form-control"
                    value="{{ product.small_desc }}" required/>
            </div>

            <div class="form-group">
                <label class="form-label font-weight-bold" for="Detail_desc">Detail Description</label>
                <textarea name="detail_desc" id="Detail_desc" class="form-control" value=""
                    rows="10" required>{{ product.detail_desc }}</textarea>
            </div>

            <div class="d-md-flex justify-content-start align-items-center mb-3">
                <h6 class="font-weight-bold mb-3 mb-lg-0 mr-5">Gender:</h6>

                <div class="form-check form-check-inline mb-0 mr-5">
                    {{#ifCond product.for_gender '==' 'male'}}
                    <input class="form-check-input" type="radio" name="for_gender" id="MaleGender" value="male" checked required>
                    {{else}}
                    <input class="form-check-input" type="radio" name="for_gender" id="MaleGender" value="male" required>
                    {{/ifCond}}
                    <label class="form-check-label" for="MaleGender">Male</label>
                </div>

                <div class="form-check form-check-inline mb-0 ml-5">
                    {{#ifCond product.for_gender '==' 'female'}}
                    <input class="form-check-input" type="radio" name="for_gender" id="FemaleGender" value="female"
                        checked required>
                    {{else}}
                    <input class="form-check-input" type="radio" name="for_gender" id="FemaleGender" value="female" required>
                    {{/ifCond}}
                    <label class="form-check-label" for="FemaleGender">Female</label>
                </div>

                <div class="form-check form-check-inline mb-0 ml-5">
                    {{#ifCond product.for_gender '==' 'both'}}
                    <input class="form-check-input" type="radio" name="for_gender" id="BothGender" value="both" checked required>
                    {{else}}
                    <input class="form-check-input" type="radio" name="for_gender" id="BothGender" value="both" required>
                    {{/ifCond}}
                    <label class="form-check-label" for="BothGender">Both</label>
                </div>
            </div>

            <div class="d-md-flex justify-content-start align-items-center mb-3">
                <h6 class="font-weight-bold mb-3 mb-lg-0 mr-5">Age:</h6>

                <div class="form-check form-check-inline mb-0 ml-4 mr-5">
                    {{#ifCond product.for_age '==' '1315'}}
                    <input class="form-check-input" type="radio" name="for_age" id="Age1" value="1315" checked required>
                    {{else}}
                    <input class="form-check-input" type="radio" name="for_age" id="Age1" value="1315" required>
                    {{/ifCond}}
                    <label class="form-check-label" for="Age1">13 - 15&nbsp;&nbsp;</label>
                </div>

                <div class="form-check form-check-inline mb-0 ml-4">
                    {{#ifCond product.for_age '==' '1619'}}
                    <input class="form-check-input" type="radio" name="for_age" id="Age2" value="1619" checked required>
                    {{else}}
                    <input class="form-check-input" type="radio" name="for_age" id="Age2" value="1619" required>
                    {{/ifCond}}
                    <label class="form-check-label" for="Age2">16 - 19&nbsp;</label>
                </div>

                <div class="form-check form-check-inline mb-0 ml-5">
                    {{#ifCond product.for_age '==' '1319'}}
                    <input class="form-check-input" type="radio" name="for_age" id="Age3" value="1319" checked required>
                    {{else}}
                    <input class="form-check-input" type="radio" name="for_age" id="Age3" value="1319" required>
                    {{/ifCond}}
                    <label class="form-check-label" for="Age3">All</label>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label font-weight-bold" for="Quantity">Quantity</label>
                <input type="number" name="quantity" id="Quantity" min="1" class="form-control"
                    value="{{ product.quantity }}" required>
            </div>

            <div class="form-group">
                <label for="Image" class="form-label font-weight-bold">Product Image</label>
                <input type="file" name="image" id="Image" class="form-control-file" />
                <img src='/products/{{ product.image }}' class="mb-2" border='0' width="200" height="200" required />
            </div>

            <div class="form-group text-center">
                <input type="submit" class="btn btn-info" name="btnAdd" value="Update" />
                <input type="button" class="btn btn-info" name="btnIgnore" value="Cancel"
                    onclick="window.location='/manage/product'" />
            </div>
        </form>
    </div>
</section>