<section class="row">
    <div class="col-lg-2 col-md-3 content-left pr-0">
        {{> navmanage }}
    </div>

    <script>
        function deleteConfirm() {
            if (confirm("Are you sure to delete!")) {
                return true;
            } else {
                return false;
            }
        }
    </script>

    <div class="col-lg-10 col-md-9 col-12">
        <div class="pt-2 mb-2">
            <h1 class="text-center mb-4">Order List</h1>
            {{#if error }}
            <div class="alert alert-danger text-center my-1">{{ error }}</div>
            {{/if}}
            {{!-- <div class="text-center mb-2 d-flex row align-items-center">
                <div class="col-6 d-flex justify-content-end align-items-center">
                    <form action="" name="formOrder" method="POST" class="input-group w-auto"
                        onsubmit="return formValid()">
                        <div class="input-group">
                            <span class="col-md-3 pb-md-0 col-12 pb-2 p-0">
                                <select name="slYear" id="slYear" class="form-control">
                                    <option value="0">Year</option>

                                </select>
                            </span>
                            <span class="col-md-3 py-md-0 col-12 py-2">
                                <select name="slMonth" id="slMonth" class="form-control">
                                    <option value="0">Month</option>

                                </select>
                            </span>
                            <span class="col-md-3 pt-md-0 col-12 py-2">
                                <select name="slDay" id="slDay" class="form-control">
                                    <option value="0">Day</option>

                                </select>
                            </span>
                            <span class="col-md-3 pt-md-0 col-12 pt-2"><button class="btn btn-secondary" type="submit"
                                    name="btnSearchOrder"><i class="bi bi-search"></i></button></span>
                        </div>
                    </form>
                </div>
            </div> --}}
            <table id="tableorder" class="table table-striped table-bordered m-0" cellspacing="0" width="100%">
                <thead
                    class="justify-content-md-between justify-content-sm-center align-content-center border-bottom border-2 my-2 bg-dark text-light p-3 rounded-3">
                    <tr class="text-center">
                        <th>
                            <strong>No.</strong>
                        </th>
                        <th>
                            <strong>Order date</strong>
                        </th>
                        <th>
                            <strong>Delivery date</strong>
                        </th>
                        <th>
                            <strong>Customer Name</strong>
                        </th>
                        <th>
                            <strong>Telephone</strong>
                        </th>
                        <th>
                            <strong>Address</strong>
                        </th>
                        <th>
                            <strong>Total Price</strong>
                        </th>
                        <th>
                            <strong>Checked</strong>
                        </th>
                        <th>
                            <strong>Delete</strong>
                        </th>
                    </tr>
                </thead>

                <tbody
                    class="justify-content-md-between justify-content-sm-center border-bottom border-2 my-2 bg-light p-2 rounded-3">
                    {{#if orders }}
                    {{#each orders }}
                    <tr>
                        <td class="text-center">
                            <a href="/manage/order/detail/{{ this.id }}" style="text-decoration: none;">{{ sum @index 1
                                }}</a>
                        </td>
                        <td class="text-center">{{dateFormat this.ordered_date "YYYY-MM-DD, HH:mm:ss"}}</td>
                        <td class="text-center">{{dateFormat this.delivery_date "YYYY-MM-DD, HH:mm:ss"}}</td>
                        <td class="text-center">{{ this.cust_name }}</td>
                        <td class="text-center">{{ this.cust_phone }}</td>
                        <td>{{ this.delivery_local }}</td>
                        <td class="text-center"><b>${{ this.total_price }}</b></td>
                        <td class="text-center">
                            <form action="/manage/order/status" method="POST">
                                <input type="hidden" name="status" value="{{ this.status }}" />
                                <input type="hidden" name="order_id" value="{{ this.id }}" />
                                {{#if this.status}}
                                <button type="submit" class="btn btn-success" width="10" height="10"><i
                                        class="bi bi-check-lg"></i></button>
                                {{else}}
                                <button type="submit" class="btn btn-danger" width="10" height="10"><i
                                        class="bi bi-x-lg"></i></button>
                                {{/if}}
                            </form>
                        </td>
                        <td class="text-center">
                            <form method="POST" action="order/delete/{{ this.id }}?_method=DELETE"
                                onsubmit="return deleteConfirm()">
                                <button type="submit" style="border: none; cursor: pointer;"><i class="bi bi-trash-fill"
                                        style="color: red;"></i></button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                    {{else }}
                    <tr>
                        <td colspan="9" class="text-center font-weight-bold">Order list is empty</td>
                    </tr>
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
</section>