<script>
    function formValid() {
        var format = /[!@#$%^&*()_+\-=\[\]{};':"\\|.<>\/?]+/;
        var validname = /^[A-Za-z]+|(\s)$/;
        var format = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
        var phone_pattern = /^(\(0\d{1,3}\)\d{7})|(0\d{9,10})$/;
        f = document.formAddShop
        if (format.test(f.name.value)) {
            alert("Supplier name can't contain special character, please enter again");
            f.name.focus();
            return false;
        }
        // Telephone validation
        if (phone_pattern.test(f.telephone.value) == false) {
            alert("Invalid phone number, please enter again");
            f.telephone.focus();
            return false;
        }
        return true;
    }
</script>

<section class="row">
    <div class="col-lg-2 col-md-3 content-left pr-0">
        {{> navmanage }}
    </div>

    <div class="pt-3 col-lg-10 col-md-9 col-12">
        <h1 class="text-center mb-4">Adding Shop</h1>
        {{#if error }}
        <div class="alert alert-danger text-center">{{ error }}</div>
        {{/if}}
        <form id="formAddShop" name="formAddShop" method="POST" action="/manage/shop/add/store" onsubmit="return formValid()">

            <div class="form-group">
                <label class="form-label font-weight-bold" for="Name">Shop Name</label>
                {{#if name }}
                <input type="text" name="name" id="Name" class="form-control" placeholder="" value="{{ name }}" required>
                {{else}}
                <input type="text" name="name" id="Name" class="form-control" placeholder="" required />
                {{/if}}
            </div>

            <div class="form-group">
                <label class="form-label font-weight-bold" for="Telephone">Telephone</label>
                {{#if telephone }}
                <input type="text" name="telephone" id="Telephone" class="form-control" placeholder=""
                    value="{{ telephone }}" required>
                {{else}}
                <input type="text" name="telephone" id="Telephone" class="form-control" placeholder="" required />
                {{/if}}
            </div>

            <div class="form-group">
                <label class="form-label font-weight-bold" for="Address">Address</label>
                {{#if address }}
                <input type="text" name="address" id="Address" class="form-control" placeholder=""
                    value="{{ address }}" required>
                {{else}}
                <input type="text" name="address" id="Address" class="form-control" placeholder="" required />
                {{/if}}
            </div>

            <div class="form-group text-center">
                <input type="submit" class="btn btn-info" name="btnAdd" value="Add new" />
                <input type="button" class="btn btn-info" name="btnIgnore" value="Cancel"
                    onclick="window.location='/manage/shop'" />
            </div>
        </form>
    </div>
</section>