<!-- Vendor CSS Files -->
<link href="/vendor/aos/aos.css" rel="stylesheet">
<link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="/css/homepage.css">
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up" data-aos-delay="200">
                <h1>Better Choice For Teenagers</h1>
                <h6 style="text-align:justify">We are experts in toys. Our goal is to enliven families and offer
                    &ldquo;A Smarter Way to Play&rdquo; by
                    igniting imagination and piquing interest. We create top-notch toys and games while offering a
                    remarkable consumer experience. We have the games and toys that will change a child&rsquo;s life,
                    whether
                    you&rsquo;re buying them for Christmas, a birthday, or a special day.</h6>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="/shop?page=1" class="btn-get-started scrollto">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="/img/Toypic.jpg" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About Us</h2>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore
                        magna aliqua.
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat
                        </li>
                        <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate
                            velit</li>
                        <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in
                        voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <a href="/about" class="btn-learn-more">Learn More</a>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Services</h2>
            </div>
            <!-- icons section starts -->
            <section class="icons-container">
                <div class="icons">
                    <img src="img/icon-1.png" alt="" />
                    <div class="info">
                        <h3>Free delivery</h3>
                        <span>In Cantho City</span>
                    </div>
                </div>
                <div class="icons">
                    <img src="img/icon-2.png" alt="" />
                    <div class="info">
                        <h3>10 days returns</h3>
                        <span>Moneyback guarantee</span>
                    </div>
                </div>
                <div class="icons">
                    <img src="img/icon-3.png" alt="" />
                    <div class="info">
                        <h3>Offer &amp; Gifts</h3>
                        <span>More than 5 orders in 1 month</span>
                    </div>
                </div>
            </section>
            <!-- icons section ends -->

        </div>
    </section><!-- End Services Section -->

    <section>
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Top Brands</h2>
            </div>

            <div class="row">
                {{#each categories }}
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 py-5 d-flex align-items-center justify-content-center">
                    <a href="/shop?cid={{ this.id }}&page=1">
                        <img class="img-fluid" src="/categories/{{ this.image }}" alt="{{ this.name }}" />
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
    </section>

    <section class="section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Best Selling</h2>
            </div>

            <div class="row">
                {{#each products }}
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img class="mx-auto" src="/products/{{ this.image }}" style="border: none;" width="100%"
                            height="100%" />
                        <div class="card-body text-center mx-auto">
                            <h5 class="card-title font-weight-bold">{{ this.name }}</h5>
                            <div class="d-flex justify-content-center align-items-end mb-4">
                                {{#ifCond this.price '<' this.old_price}}
                                <del>${{ this.old_price }}</del>
                                {{/ifCond}}
                                <p class="card-text ml-2"><b>${{this.price}}</b></p>
                            </div>
                            <a href="/view-detail/{{ this.id }}" class="btn details px-auto text-dark">view details</a><br />
                            <form action="/cart/add" method="POST" class="mb-2">
                                <input type="hidden" name="quantity" value="1">
                                <input type="hidden" name="proid" value="{{ this.id }}" />
                                <input type="submit" name="addcart" class="btn cart px-auto text-light" value="ADD TO CART" />
                            </form>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                    consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                    fugiat sit
                    in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="row">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>No. 160, 30/4 Street, An Phu Ward, Ninh Kieu District, Can Tho City, 900000, Vietnam.</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>quangndgcc200030@fpt.edu.vn</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+84 916 843 367</p>
                        </div>

                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.8538884551303!2d105.77546925088022!3d10.028913675251061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a062a8990f568d%3A0x2a22d599b2c06b23!2sGreenwich%20Vi%E1%BB%87t%20Nam!5e0!3m2!1sen!2s!4v1664293824317!5m2!1sen!2s"
                            frameborder="0" width="100%" height="290px" style="border:0;" allowfullscreen=""
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Your Name</label>
                                <input type="text" name="name" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Your Email</label>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Subject</label>
                            <input type="text" class="form-control" name="subject" id="subject" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Message</label>
                            <textarea class="form-control" name="message" rows="10" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main>
<!-- End #main -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>