<link rel="stylesheet" href="/css/shop.css">
<section class="row shopname">
    <div class="col-lg-2 col-md-3 ps-0 content-left">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md bg-light navbar-light bg-white">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarMenu"><span
                    class="navbar-toggler-icon"></span></button>

            <!-- Brand -->
            <a class="text-info" style="text-decoration: none;" href="/home">
                <h3 class="font-weight-bold">The Light Toy</h3>
            </a>
        </nav>
        <!-- Navbar -->

        <!-- Sidebar -->
        <nav id="sidebarMenu" class="collapse d-md-block bg-white">
            <h5 class="ml-3 mt-4 font-weight-bold text-info">Category</h5>
            <div class="position-sticky">
                <div class="list-group list-group-flush">
                    <a href="/shop" class="list-group-item list-group-item-action py-2">All</a>
                    {{#each categories }}
                    <a href="/shop?cid={{ this.id }}" class="list-group-item list-group-item-action py-2">{{ this.name
                        }}</a>
                    {{/each }}
                </div>
            </div>
            <h5 class="ml-3 mt-4 font-weight-bold text-info">Supplier</h5>
            <div class="position-sticky">
                <div class="list-group list-group-flush">
                    <a href="/shop" class="list-group-item list-group-item-action py-2">All</a>
                    {{#each suppliers }}
                    <a href="/shop?sid={{ this.id }}" class="list-group-item list-group-item-action py-2">{{ this.name
                        }}</a>
                    {{/each }}
                </div>
            </div>
        </nav>
        <!-- Sidebar -->
    </div>
    <div class="col-lg-10 col-md-9 col-12">
        <div class="row">
            <!--Carousel Wrapper-->
            <div id="carousel-example-2" class="carousel slide carousel-fade mb-3 mt-2 col-6" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-2" data-slide-to="1"></li>
                    <li data-target="#carousel-example-2" data-slide-to="2"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="view">
                            <img class="d-block w-100" src="/img/toy-ads-1.jpg"
                                alt="First slide">
                            <div class="mask rgba-black-light"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img class="d-block w-100" src="/img/toy-ads-2.png"
                                alt="Second slide">
                            <div class="mask rgba-black-strong"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img class="d-block w-100" src="/img/toy-ads-3.png"
                                alt="Third slide">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                    </div>
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>
            <!--/.Carousel Wrapper-->

            <!--Carousel Wrapper-->
            <div id="carousel-example-2" class="carousel slide carousel-fade mb-3 mt-2 col-6" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-2" data-slide-to="1"></li>
                    <li data-target="#carousel-example-2" data-slide-to="2"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="view">
                            <img class="d-block w-100" src="/img/toy-ads-4.jpg"
                                alt="First slide">
                            <div class="mask rgba-black-light"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img class="d-block w-100" src="/img/toy-ads-5.png"
                                alt="Second slide">
                            <div class="mask rgba-black-strong"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img class="d-block w-100" src="/img/toy-ads-6.jpg"
                                alt="Third slide">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                    </div>
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>
            <!--/.Carousel Wrapper-->
        </div>

        {{#if products }}
        <div class="row">
            {{#each products }}
            <div class="col-12 col-lg-4 col-xl-3 col-md-4 col-sm-6 mb-xl-4 mb-lg-4">
                <div class="card">
                    <a href="/view-detail/{{ this.id }}">
                        <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">

                            <img src="/products/{{ this.image }}" class="w-100" />
                            <div class="mask">
                                <div class="d-flex justify-content-start align-items-end h-100">
                                    <h5>
                                        <span class="badge bg-primary ml-2">New</span>
                                        {{#ifCond this.price '<' this.old_price }} <span class="badge bg-danger">
                                            Sale</span>
                                            {{/ifCond}}
                                    </h5>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </div>
                        </div>
                    </a>

                    <div class="card-body">
                        <a href="/view-detail" class="text-dark text-center" style="text-decoration: none;">
                            <h5 class="card-title mb-3">{{ this.name }}</h5>
                        </a>
                        <h6 class="mb-3 text-center">
                            {{#ifCond this.price '<' this.old_price }} <del>${{ this.old_price }}</del>
                                {{/ifCond}}
                                <strong class="ml-2 text-danger">${{ this.price }}</strong>
                        </h6>
                        {{#ifCond this.quantity '==' 0 }}
                        <p class="font-weight-bold text-danger text-center">Sold out</p>
                        {{/ifCond}}
                    </div>
                </div>
            </div>
            {{/each }}
        </div>
        {{else}}
        <h2 class="font-weight-bold text-center py-5">Product does not exist</h2>
        {{/if}}
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>